In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn import  cross_validation, tree
from sklearn.cross_validation import KFold, cross_val_score, train_test_split
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder

C:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Anaconda\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

###  Upload file

In [3]:
File = r'C:\python\Off.csv'

In [4]:
Off = pd.read_csv(File, sep=';', encoding='cp1251')
Off.head()

,USER_ID,PHONE,DATE_BEGIN,DATE_END,COD,NAME
0,143779,NaN,01.03.1997,21.07.2015,20155,ПВ Пользование абонентской радиоточкой
1,143779,NaN,01.10.2014,15.07.2015,1470,ГТС Тональный набор
2,143779,NaN,01.10.2014,15.07.2015,1469,ГТС Уведомление о поступлении нового вызова
3,143780,3842524316,01.10.2013,21.01.2016,203403,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
4,143780,NaN,01.10.2014,21.01.2016,1469,ГТС Уведомление о поступлении нового вызова

### Selecting Services into separate table

In [5]:
#Search for the most commomly used services
drop = Off.drop_duplicates(['COD'], keep='last')
name = drop[['COD','NAME']]
name= name.reset_index(level=None)
del name['index']
name = name.set_index(['COD'])
name.head()

                                                    NAME
COD
97728                *Добровольная блокировка порта XDSL
40570  ГТС Пред.впольз.аб.лин.с спар.сх.с аб.сист.опл...
40733  ГТС "0"внутри сети2016 при пред.мест.тел.соед,...
97665         Выгодное летоИнтернет по GPON до 25 Мбит/с
10143           *Срочная сделка на 2 года с пролонгацией

In [6]:
#Count the frequency of rejecting some services
data = pd.value_counts(Off['COD'].values)
freq = pd.DataFrame(data, columns = ['FREQ'])
freq.head()

         FREQ
203403  95002
53105   78660
81301   56035
1469    50841
1470    37136

In [7]:
# Sort services frequency, add services names
survice = name.join(freq)
survice.sort_values(by='FREQ', ascending=False)

                                                     NAME   FREQ
COD
203403  ГТС Пред.в пост.польз.абон.линии с инд.схемой ...  95002
53105   *Получение счета/расшифровок Абонентом в подра...  78660
81301   Предоставление в пользование оборудования ONT(...  56035
1469          ГТС Уведомление о поступлении нового вызова  50841
1470                                  ГТС Тональный набор  37136
203401  ГТС Пред.в пост.польз.абон.линии с инд.схемой ...  36389
2021    ГТС Предост. мест. соед. абонентская система о...  35816
80551     SDP IPTV Предоставление ТВ-приставки "Стандарт"  32428
203402  ГТС Пред.в пост.польз.абон.линии с инд.схемой ...  32223
53104   *Предост.абоненту инфор.об оказан.услугах на с...  27867
80404     *SDP IPTV Услуга IPTV DoublePlay (домовладение)  25374
40520   ГТС СПУС Предост. мест. тел. соед. ( "Безлимит...  25035
81302   Предоставление в пользование окон.обор xDSL мо...  23292
71998                             *GPON Виртуальный номер  23089
140081  *ГТС"Добровольная блокировка" - по заявлению о...  21458
80405     *SDP IPTV Услуга IPTV TriplePlay (домовладение)  21331
81668   Пред. ТВ-приставки «Стандарт» во врем.владение...  21228
80420                 *SDP IPTV Учетная запись  (STB APP)  20744
82174   *SDP IPTV Управление просмотром. Бесплатный те...  18658
101791             *Предоставл.Доп.опции Обещанный платеж  18552
82226                      *SDP ИТВ Double (домовладение)  18550
80410                *SDP IPTV Пакет каналов "Популярный"  18006
203862  Интернет по XDSL (Webstream)предоставление пор...  16070
200212  *ГТС Отключенное абон.устр-во в телеф.пом.в св...  15501
82505   *Домашний Интернет 3.0* Предоставление порта п...  14580
700504                                 *Виртуальный номер  14266
29020              *ГТС Абонплата за ТА ведомственной АТС  13645
816680  Пред. ТВ-приставки «Стандарт» во врем.владение...  12349
81738   Пред-е опт.модема с опцией WI-FI  во врем.влад...  12200
70618               Интернет по xDSL Пакет "Бонусный" 512  11077
...                                                   ...    ...
209603  СТС Пред.в пост.польз.абон.линии с инд.схемой ...      1
21013          ГТС ДВО Перевод вызова на другого абонента      1
203850  Интернет по XDSL "Безлимитный Webstream 64" (т...      1
82605   Домашний Интернет 3.0* Интернет по GPON до 25 ...      1
82871   ДИ 4.0. TriplePlay  Интернет по GPON до 45 Мби...      1
97626            *Участник акции "Выгодное лето"_ДИ+ИТВ 4      1
106817  ETTH Предоставление порта при организации кана...      1
81794   Для своих. Triple ДИ Интернет по ETTH до 100 М...      1
600102       ETTH Обслуживание канала телеметрии 2 Мбит/с      1
20533   *Предоставление в пользование оборудования (GP...      1
230704   *Интернет ETTH Предоставление доступа к Интернет      1
28146   Контроль качества синхросигнала сети ТСС по тр...      1
209401  СТС Пред.в пост.польз.абон.линии арен.осн.устр...      1
82436   SDP ИТВ DSL Подписка "Amedia Premium" (Категор...      1
97663          Выгодное летоИнтернет по GPON до 15 Мбит/с      1
97146   *Участник акции «Пакет навсегда-4» Удержание с...      1
50102   ПД Предоставление порта WS Drive (SIP/IP-телефон)      1
82644   Домашний Интернет 3.0* Интернет по xDSL до 3 М...      1
72383         Интернет по ETTH.  Enter Lux Безлимитный ТП      1
82433   SDP ИТВ DSL Пакет телеканалов «Amedia+Viasat P...      1
80006        ТС ГТС Предоставление в пост. пользование СЛ      1
80013   ТС ГТС Предост. мест.тел.соед.(СЛ,абон-кая.сис...      1
970320  Архивный ТП ДИ 4.0.  DoublePlay  Интернет по x...      1
82674   Домашний Интернет 3.0* Интернет по ETTH  до 60...      1
72033             Интернет по GPON Юпитер +, безлимит. ТП      1
206812    CТС Пред.в пост.польз.абон.IPлинии абон.ТП СПУС      1
82022     *SDP IPTV Участник акции «НОН-Стоп» (ДИ-2+IPTV)      1
81213                  Сдача в аренду движимого имущества      1
700010  XDSL Пред.доступа к Интернет(1024Кбит/с)(проек...      1
97728                 *Добровольная блокировка порта XDSL      1

[1672 rows x 2 columns]

In [8]:
#Save data frame to a separete table
survice = survice.sort_index()
survice.to_csv('Survice.csv',sep=';')

Editing tha data, fixing errors.

In [9]:
Off = Off.drop(['PHONE'], axis =1)

In [10]:
#Fixed a date error
err2 = Off['DATE_BEGIN'].str.contains(':')
Err2 = err2==True
err2[Err2]

898633     True
903141     True
905104     True
1030554    True
Name: DATE_BEGIN, dtype: bool

In [11]:
Off.loc[898633,'DATE_BEGIN']=Off.loc[898633,'DATE_BEGIN'][:10]
Off.loc[903141,'DATE_BEGIN']=Off.loc[903141,'DATE_BEGIN'][:10]
Off.loc[905104,'DATE_BEGIN']=Off.loc[905104,'DATE_BEGIN'][:10]
Off.loc[1030554,'DATE_BEGIN']=Off.loc[1030554,'DATE_BEGIN'][:10]

In [12]:
Off['DATE_END']=Off['DATE_END'].apply(lambda x: dt.datetime.strptime(x,'%d.%m.%Y'))
Off['DATE_BEGIN']=Off['DATE_BEGIN'].apply(lambda x: dt.datetime.strptime(x,'%d.%m.%Y'))

In [13]:
#Path to the table
File = r'C:\python\Payment.csv'

In [14]:
#Reding from the path
Pay = pd.read_csv(File, sep=';', encoding='cp1251')
#Sum of payment to Float
Pay['SUMM'] = Pay['SUMM'].apply(lambda x: x.replace(",", "."))
Pay['SUMM'] = Pay['SUMM'].astype(float)
Pay

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,USER_ID,SUMM,PHONE,PAY_DATE,NAME
0,143779,670.00,NaN,09.01.2014 12:50:34,Телекомсервис-И /on_line/
1,143779,652.00,NaN,07.02.2014 12:00:53,Телекомсервис-И /on_line/
2,143779,1000.00,3.84252e+09,02.04.2014 13:12:28,ЕСПП /оплата/
3,143779,199.00,3.84252e+09,27.06.2014 8:06:37,ЕСПП /оплата/
4,143779,298.98,NaN,18.07.2014 16:46:14,СБЕРБАНК РФ /on_line/
5,143779,301.02,NaN,18.07.2014 16:46:14,СБЕРБАНК РФ /on_line/
6,143779,48.00,NaN,19.08.2014 13:20:32,ЕСПП /оплата/
7,143779,0.80,NaN,30.09.2014 9:55:19,ЕСПП /оплата/
8,143779,384.20,NaN,30.09.2014 9:55:19,ЕСПП /оплата/
9,143779,99.32,3.84252e+09,26.10.2014 9:14:54,ЕСПП /оплата/
10,143779,400.68,3.84252e+09,26.10.2014 9:14:54,ЕСПП /оплата/
11,143779,257.80,3.84252e+09,09.11.2014 9:00:09,ЕСПП /оплата/
12,143779,422.00,NaN,11.12.2014 8:08:02,ЕСПП /оплата/
13,143779,0.58,NaN,14.01.2015 15:29:49,ЕСПП /оплата/
14,143779,4.80,NaN,14.01.2015 15:29:49,ЕСПП /оплата/
15,143779,349.62,NaN,14.01.2015 15:29:49,ЕСПП /оплата/
16,143779,0.84,3.84252e+09,09.02.2015 8:01:34,ЕСПП /оплата/
17,143779,265.16,3.84252e+09,09.02.2015 8:01:34,ЕСПП /оплата/
18,143779,0.02,3.84252e+09,05.03.2015 8:10:58,ЕСПП /оплата/
19,143779,379.98,3.84252e+09,05.03.2015 8:10:58,ЕСПП /оплата/
20,143779,380.00,3.84252e+09,17.03.2015 8:12:04,ЕСПП /оплата/
21,143779,0.16,3.84252e+09,06.05.2015 7:39:46,ЕСПП /оплата/
22,143779,351.84,3.84252e+09,06.05.2015 7:39:46,ЕСПП /оплата/
23,143779,0.72,3.84252e+09,09.06.2015 7:58:16,ЕСПП /оплата/
24,143779,281.28,3.84252e+09,09.06.2015 7:58:16,ЕСПП /оплата/
25,143779,0.60,3.84252e+09,08.07.2015 12:43:26,ЕСПП /оплата/
26,143779,252.40,3.84252e+09,08.07.2015 12:43:26,ЕСПП /оплата/
27,143779,0.91,3.84252e+09,19.08.2015 9:39:17,ЕСПП /оплата/
28,143779,355.09,3.84252e+09,19.08.2015 9:39:17,ЕСПП /оплата/
29,143779,0.91,3.84252e+09,21.09.2015 9:42:08,ЕСПП /оплата/
...,...,...,...,...,...
11287437,256781066495,448.94,NaN,18.07.2016 15:20:44,ЕСПП /оплата/
11287438,256782108026,0.68,NaN,14.07.2016 12:28:34,ЕСПП /оплата/
11287439,256782108026,0.71,NaN,14.07.2016 12:28:34,ЕСПП /оплата/
11287440,256782108026,955.61,NaN,14.07.2016 12:28:34,ЕСПП /оплата/
11287441,256783463688,179.73,NaN,15.07.2016 14:03:46,ЕСПП /оплата/
11287442,256783463688,0.27,NaN,15.07.2016 14:03:48,ЕСПП /оплата/
11287443,256792765352,430.00,3.84523e+09,16.06.2016 12:09:52,ЕСПП /оплата/
11287444,256794750985,0.35,3.84261e+09,19.07.2016 14:19:00,ЕСПП /оплата/
11287445,256794750985,810.16,3.84261e+09,19.07.2016 14:19:00,ЕСПП /оплата/
11287446,256796808314,25.37,NaN,18.07.2016,БАНК
11287447,256798589630,153.34,NaN,06.07.2016 13:24:12,ЕСПП /оплата/
11287448,256798589630,0.66,NaN,06.07.2016 13:24:14,ЕСПП /оплата/
11287449,256799565701,212.40,NaN,18.07.2016,БАНК
11287450,256804442281,0.03,3.84523e+09,15.07.2016 8:09:47,ЕСПП /оплата/
11287451,256804442281,0.97,3.84523e+09,15.07.2016 8:09:47,ЕСПП /оплата/
11287452,256804442281,252.00,3.84523e+09,15.07.2016 8:09:47,ЕСПП /оплата/
11287453,256809080312,0.07,NaN,16.07.2016 9:07:02,ЕСПП /оплата/
11287454,256809080312,13.33,NaN,16.07.2016 9:07:02,ЕСПП /оплата/
11287455,256809080312,56.60,NaN,16.07.2016 9:07:02,ЕСПП /оплата/
11287456,256809573541,30.66,NaN,05.07.2016 13:06:10,ЕСПП /оплата/
11287457,256809573541,0.14,NaN,05.07.2016 13:06:13,ЕСПП /оплата/
11287458,256812596597,54.00,NaN,19.07.2016 8:31:56,ЕСПП /оплата/
11287459,256812596597,35.00,NaN,19.07.2016 8:31:59,ЕСПП /оплата/
11287460,256813907935,2.33,NaN,18.07.2016 7:12:05,ЕСПП /оплата/
11287461,256813907935,2.70,NaN,18.07.2016 7:12:05,ЕСПП /оплата/
11287462,256813907935,59.97,NaN,18.07.2016 7:12:05,ЕСПП /оплата/
11287463,256814104815,78.00,3.84435e+09,19.07.2016 10:35:20,ЕСПП /оплата/
11287464,256814104815,222.00,3.84435e+09,19.07.2016 10:35:20,ЕСПП /оплата/
11287465,256815928351,0.48,3.84412e+09,19.07.2016 9:57:08,ЕСПП /оплата/
11287466,256815928351,55.52,3.84412e+09,19.07.2016 9:57:08,ЕСПП /оплата/

In [15]:
#Drop PHONE column
Pay = Pay.drop(['PHONE'], axis =1) 

#delete time from the pay date stamp.
Pay['PAY_DATE'] = Pay['PAY_DATE'].apply(lambda x: x[:10])

#convert pay date to datetime
Pay['PAY_DATE']=Pay['PAY_DATE'].apply(lambda x: dt.datetime.strptime(x,'%d.%m.%Y'))

date = dt.datetime.strptime('31/12/13', '%d/%m/%y')
Pay = Pay[Pay.PAY_DATE > date]

#group payment by user, day and payment method
group = Pay.groupby(['USER_ID','PAY_DATE','NAME'])
Pay = group.aggregate(np.sum)
Pay = Pay.reset_index(level=['PAY_DATE','NAME'])

Pay.head()

          PAY_DATE                       NAME    SUMM
USER_ID
143779  2014-01-09  Телекомсервис-И /on_line/   670.0
143779  2014-02-07  Телекомсервис-И /on_line/   652.0
143779  2014-04-02              ЕСПП /оплата/  1000.0
143779  2014-06-27              ЕСПП /оплата/   199.0
143779  2014-07-18      СБЕРБАНК РФ /on_line/   600.0

### Days

In [16]:
#Days of the month into separate column
Pay1 = Pay
datas = Pay['PAY_DATE'].dt.day
datas = datas.rename(columns={'PAY_DATE': 'DAY'})
Pay1['DAY'] = datas

Pay1 = Pay1.reset_index(level=['USER_ID'])

#All of the days in one string
Pay1 = Pay1.drop(['PAY_DATE', 'NAME','SUMM'], axis =1) 
strJoin = lambda x:" ".join(x.astype(str))     
Pay1 = Pay1.groupby('USER_ID').agg({"DAY":strJoin})

Pay1 = Pay1.reset_index(level=['USER_ID'])

Pay1.head()

   USER_ID                                                DAY
0   143779  9 7 2 27 18 19 30 26 9 11 14 9 5 17 6 9 8 19 2...
1   143780  27 26 24 30 23 1 25 1 29 27 30 30 20 22 8 6 30...
2   143789  17 27 21 14 16 18 21 19 17 21 21 17 20 17 24 1...
3   143797  21 21 21 21 21 21 20 22 9 11 10 15 12 12 13 15...
4   143802                               12 22 9 13 18 12 8 9

In [17]:
#Put the string into a list for processing
num = Pay1['DAY'].size
dist=[]

for x in range(0,num):
    day_list = re.sub("[^0-9]"," ", Pay1.loc[x,'DAY'] ) 
    Pay1.set_value(x,'DAY',day_list.split())

#bag of words    
for x in range(0,num):
    vectorizer = CountVectorizer(Pay1.loc[x,'DAY'], token_pattern=r"\b\w+\b", vocabulary=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'])
    dtm = vectorizer.fit_transform(Pay1.loc[x,'DAY'])  # a sparse matrix
    dtm.toarray()
    dist.append(dtm.sum( axis=0))
vocab = vectorizer.get_feature_names()  # a list

#Create table with the numbers of payment days of the months
size = len(dist)
a = np.zeros(shape=(size,31))

for i in range(0,size):
    a[i] =dist[i]   
        
n = pd.DataFrame(a,columns = vocab)                                                    
    
Pay1 = Pay1.join(n.astype(int))

Pay1 = Pay1.drop(['DAY'], axis =1) 

Pay1.head()

,USER_ID,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,143779,0,1,0,0,1,1,3,2,4,...,0,0,0,0,1,1,0,0,1,0
1,143780,2,0,0,0,0,1,0,1,1,...,1,1,1,1,1,2,0,1,4,0
2,143789,0,0,0,0,0,0,0,0,0,...,1,0,2,1,1,2,0,1,0,0
3,143797,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
4,143802,0,0,0,0,0,0,0,1,2,...,1,0,0,0,0,0,0,0,0,0

In [18]:
Pay1.to_csv('Pay_days1.csv', sep=';', index = False)

### Payment methods

In [20]:
Pay2 = Pay.drop(['PAY_DATE','SUMM'], axis =1) 

#Change name of method with code
label = LabelEncoder()
dicts = {}

label.fit(Pay2.NAME.drop_duplicates()) #make the list of vlues to encode
dicts['NAME'] = list(label.classes_)
Pay2.NAME = label.transform(Pay2.NAME) #replace name of the method with the code

#all of the methods in a str
Pay2 = Pay2.reset_index(level=['USER_ID'])
strJoin = lambda x:" ".join(x.astype(str))     
Pay2 = Pay2.groupby('USER_ID').agg({"NAME":strJoin})

Pay2 = Pay2.reset_index(level=['USER_ID'])
Pay2.head()

   USER_ID                                               NAME
0   143779  21 21 7 7 18 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7...
1   143780              7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7
2   143789  21 21 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 ...
3   143797  21 21 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 ...
4   143802                                    7 7 7 7 7 7 7 7

In [21]:
#methods
dicts

{'NAME': ['АВИЗО',
  'БАНК',
  'ВЗАИМОЗАЧЕТ /СПРАВКА/',
  'ГП, списанная по решению Общества (убытки)',
  'ГП, списанная по решению суда(убытки)',
  'ГП,возврат из бюджета',
  'ГП,подтвержденная судом',
  'ЕСПП /оплата/',
  'ИСС /on-line/',
  'КАРТЫ ОПЛАТЫ',
  'КАССА НАЛ. ФИЗ. ЛИЦА',
  'КВИТАНЦИЯ (реестр)',
  'Платежи Репэй_до выяснения',
  'Погашение ДЗ нереальной к взысканию',
  'Погашение ДЗ по причине НСДЗ',
  'Погашение ДЗ с истекш.сроком давности',
  'Погашение ДЗ,резервом по сомн.долгам',
  'СБЕРБАНК РФ /off_line/',
  'СБЕРБАНК РФ /on_line/',
  'Сбербанк_договор  КЦ_корректировка',
  'Списание ДЗ по договору цессии',
  'Телекомсервис-И /on_line/',
  'УФПС  /on_line/']}

In [22]:
#str to a list for processing
num = Pay2['NAME'].size
dist=[]

for x in range(0,num):
    day_list = re.sub("[^0-9]"," ", Pay2.loc[x,'NAME'] ) 
    Pay2.set_value(x,'NAME',day_list.split())

#bag of words    
for x in range(0,num):
    vectorizer = CountVectorizer(Pay2.loc[x,'NAME'], token_pattern=r"\b\w+\b", vocabulary=['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22'])
    dtm = vectorizer.fit_transform(Pay2.loc[x,'NAME'])  # a sparse matrix
    dtm.toarray()
    dist.append(dtm.sum( axis=0))
vocab = vectorizer.get_feature_names()  # a list

size = len(dist)
a = np.zeros(shape=(size,23))

for i in range(0,size):
    a[i] =dist[i]
        
n = pd.DataFrame(a,columns = vocab)                                                    
Pay2 = Pay2.join(n.astype(int))

Pay2 = Pay2.drop(['NAME'], axis =1) 

Pay2= Pay2.set_index(['USER_ID'])

Pay2 = Pay2.rename(columns = lambda x : 'M' + x)

Pay2.head()

,M0,M1,M2,M3,M4,M5,M6,M7,M8,M9,...,M13,M14,M15,M16,M17,M18,M19,M20,M21,M22
USER_ID,,,,,,,,,,,,,,,,,,,,,
143779,0,0,0,0,0,0,0,26,0,0,...,0,0,0,0,0,1,0,0,2,0
143780,0,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
143789,0,0,0,0,0,0,0,28,0,0,...,0,0,0,0,0,0,0,0,2,0
143797,0,0,0,0,0,0,0,28,0,0,...,0,0,0,0,0,0,0,0,2,0
143802,0,0,0,0,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
Pay2.to_csv('Pay_days2.csv',sep=';')

### Months

In [ ]:
#месяц, год в отдельный столбец
Pay5 = Pay.reset_index(level=['USER_ID'])
datas = Pay['PAY_DATE'].dt.month
datas = datas.rename(columns={'PAY_DATE': 'MONTH'})
year = Pay['PAY_DATE'].dt.year
year = year.rename(columns={'PAY_DATE': 'YEAR'})

In [ ]:
#столбец ГОДМЕСЯЦ
Pay['MONTH']= datas
Pay['YEAR'] = year
Pay['MONTHS'] = Pay.YEAR.astype(str).str.cat(Pay.MONTH.astype(str).str.zfill(2) , sep='')
Pay5 = Pay.drop(['PAY_DATE', 'MONTH', 'YEAR', 'NAME'], axis =1) 

Pay5.head()

In [ ]:
#Таблица по оплатам в месяц
Pay5 = Pay5.reset_index(level=['USER_ID'])
Pay5=Pay5.pivot_table('SUMM', index='MONTHS', columns='USER_ID')
Pay5

In [ ]:
L = Pay5.apply(pd.Series.last_valid_index)
L.astype(str)

F = Pay5.apply(pd.Series.first_valid_index)
F.astype(str)

for col in Pay5:
    First = Pay5.loc[ Pay5.index>=F[col], col]
    Last = First[ First.index<=L[col]].fillna(value=0)
    for i in Last.index:
        Pay5.set_value(i, col, Last[i])
Pay5.head()

In [ ]:
не факт что нужно

In [ ]:
Min = Pay5.min()
Max = Pay5.max()
Sum = Pay5.sum()
Med = Pay5.median()

Pay4 = pd.DataFrame()
Pay4['MIN'] = Min
Pay4['MAX'] = Max
Pay4['SUM'] = Sum
Pay4['MED'] = Med
Pay4.head()

In [ ]:
Pay4.to_csv('Pay_days4.csv',sep=';')

### Таблица ответов

In [42]:
Off2 = Off.drop(['PHONE', 'DATE_BEGIN', 'DATE_END','NAME'], axis =1)

# Выбираем необходимые услуги по коду
serv = (203403, 81301, 203401, 2021, 80551, 203402, 40520, 81302, 81668)

num = Off2['COD'].size

for i in range(0,num):
    if Off2.loc[i,'COD'] in serv:
        Off2.set_value(i,'OFF', 1)
    else: Off2.set_value(i,'OFF', 0)
        
Off2 = Off2.groupby('USER_ID').max()

Off2 = Off2.drop(['COD'], axis =1)

Off2['OFF'] = Off2.OFF.astype(int)

Off2

              OFF
USER_ID
143779        0.0
143780        1.0
143789        0.0
143797        0.0
143802        1.0
143804        1.0
143809        1.0
143812        1.0
143815        0.0
143816        0.0
143818        1.0
143819        0.0
143823        0.0
143825        0.0
143830        1.0
143832        1.0
143835        1.0
143840        0.0
143841        1.0
143844        1.0
143845        0.0
143848        0.0
143851        0.0
143852        1.0
143854        1.0
143858        0.0
143859        1.0
143867        1.0
143870        1.0
143872        0.0
...           ...
256811169724  0.0
256811509639  0.0
256811616868  0.0
256812596597  0.0
256813867487  0.0
256813907935  0.0
256814084325  0.0
256814104815  1.0
256814279012  0.0
256814339803  0.0
256814997342  0.0
256815928351  1.0
256818502460  0.0
256820236185  1.0
256820774762  0.0
256820946927  0.0
256821957703  0.0
256823828172  0.0
256849952957  0.0
256851114506  0.0
256853983969  0.0
256857408439  0.0
256857763544  0.0
256858059008  0.0
256858842677  0.0
256874572925  0.0
256875608347  0.0
256875665294  0.0
256876728666  1.0
256878365562  0.0

[299043 rows x 1 columns]

In [16]:
Off2.to_csv('Off_Y.csv',sep=';')

### СВЕРКА 2 ТАБЛИЦ

In [20]:
File1 = r'C:\Users\Administrator\1RTK\Off_Y.csv'
File2 = r'C:\Users\Administrator\1RTK\Pay_days124.csv'

In [21]:
y = pd.read_csv(File1, sep=';', encoding='cp1251')
y.head()

   USER_ID  OFF
0   143779    0
1   143780    1
2   143789    0
3   143797    0
4   143802    1

In [22]:
X = pd.read_csv(File2, sep=';', encoding='cp1251')
X.head()

,USER_ID,1,2,3,4,5,6,7,8,9,...,M17,M18,M19,M20,M21,M22,MIN,MAX,SUM,MED
0,143779,0,1,0,0,1,1,3,2,4,...,0,1,0,0,2,0,0.0,1000.0,8963.80,199.0
1,143780,2,0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,0.0,500.0,4341.00,200.0
2,143789,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,190.0,511.0,8065.00,257.0
3,143797,0,0,0,0,0,0,0,0,1,...,0,0,0,0,2,0,0.0,313.0,7158.38,243.0
4,143802,0,0,0,0,0,0,0,1,2,...,0,0,0,0,0,0,0.0,1500.0,5825.70,0.0

In [23]:
#Удаляем строки с разными ID
y = y.loc[y['USER_ID'].isin(X['USER_ID'])]
X = X.loc[X['USER_ID'].isin(y['USER_ID'])]

In [24]:
y = y.sort_values(by='USER_ID')
X = X.sort_values(by='USER_ID')

In [25]:
y = y.drop(['USER_ID'], axis =1)
X = X.drop(['USER_ID'], axis =1)

In [27]:
# убираем мешающие результату столбцы. Сумма, макс, медиана, дебит. задолженность
X = X.drop(['SUM','MED','MAX', 'M13', 'M14', 'M15', 'M16'], axis=1)

### Логистическая регрессия

In [28]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.3)

In [29]:
y_train = y_train['OFF'].ravel()
scaler = StandardScaler()

x_train_scaled = pd.DataFrame(scaler.fit_transform(X_train),)
x_test_scaled = pd.DataFrame(scaler.fit_transform(X_test),)

In [30]:
cv = KFold(n=len(y_train), n_folds=5, shuffle=True, random_state=42)

param_grid = { 'C': [1e-5, 1e-4, 1e-3, 5e-3, 1e-2, 5e-2, 1e-1, 1, 10] }

clf = LogisticRegression(penalty='l2', random_state=42)

gs = GridSearchCV(estimator=clf, param_grid=param_grid, scoring='roc_auc', cv=cv, verbose=2, n_jobs=-1)

gs.fit(x_train_scaled, y_train)

print('Наилучшее качество:', gs.best_score_)

gs.grid_scores_

gs.best_estimator_

Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  2.6min finished

Наилучшее качество: 0.62446053748

LogisticRegression(C=1e-05, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
#вес коэффициентов
sorted(dict(zip(X_train.columns, gs.best_estimator_.coef_[0])).items(), key=lambda x: -abs(x[1]))

[('M7', 0.072408028209407352),
 ('M21', 0.035685557023690279),
 ('20', 0.030848506970962985),
 ('23', 0.030234791448838512),
 ('M11', -0.028292034000005382),
 ('24', 0.027736178673057128),
 ('19', 0.027482546457260996),
 ('22', 0.026786777558916446),
 ('21', 0.025226036778993731),
 ('18', 0.022932743018099187),
 ('17', 0.022094255349906177),
 ('25', 0.021568672451391178),
 ('16', 0.01943092115973408),
 ('M1', -0.018622650974715788),
 ('15', 0.01824018618815261),
 ('M3', -0.017421695226081797),
 ('13', 0.01729492854963682),
 ('26', 0.017064470897140201),
 ('14', 0.016785397455245189),
 ('27', 0.014904853930597943),
 ('10', 0.013351241759830235),
 ('M6', 0.013124511200499293),
 ('M20', 0.012677174557078437),
 ('28', 0.011429455893985944),
 ('12', 0.010911848809376642),
 ('29', 0.010769901110701112),
 ('11', 0.010234521969175943),
 ('1', 0.0096719735347407),
 ('M2', -0.00889625703127115),
 ('2', 0.0080741223428205094),
 ('3', 0.0078561472621164301),
 ('M17', -0.0078429388460144762),
 ('M18', 0.0074628176164578588),
 ('6', 0.0071009619116563219),
 ('9', 0.005717666790770252),
 ('8', 0.0056170424688496891),
 ('31', 0.0054157264861286886),
 ('MIN', -0.0053179073641128399),
 ('4', 0.0050348997826482238),
 ('7', 0.0048755834068647374),
 ('M12', 0.0026279783762239045),
 ('30', 0.0023908536197173678),
 ('M0', -0.0018625292840861408),
 ('M10', -0.0017659863219976933),
 ('5', 0.0016403496738415227),
 ('M5', 0.0015584721688344523),
 ('M8', -0.0013447863824307691),
 ('M22', 0.00051957078784227212),
 ('M19', -0.00024506586044144952),
 ('M9', -0.00018481902985435891),
 ('M4', -0.00017208577505204952)]

### Деревья решений

In [22]:
clf_dt = tree.DecisionTreeClassifier(max_depth=10)
clf_dt.fit (X_train_scaled, y_train)
clf_dt.score (X_test_scaled, y_test)

0.70974788049313242

### Gradient Boosting Classifier

In [53]:
gbc = GradientBoostingClassifier(n_estimators=150, max_depth=4, loss='deviance')
gbc.fit(x_train_scaled, y_train)
gbc.score(x_test_scaled, y_test)

0.70553971838633645

### Random Forest Classifier

In [50]:
rfc = RandomForestClassifier(n_estimators=100, max_depth=4, criterion='entropy')
rfc.fit(x_train_scaled, y_train)
rfc.score(x_test_scaled, y_test)

0.69961126537088458

TEST

In [33]:
user = Off['USER_ID']< 143816
User = Off[user]
User

,USER_ID,PHONE,DATE_BEGIN,DATE_END,COD,NAME
0,143779,NaN,01.03.1997,21.07.2015,20155,ПВ Пользование абонентской радиоточкой
1,143779,NaN,01.10.2014,15.07.2015,1470,ГТС Тональный набор
2,143779,NaN,01.10.2014,15.07.2015,1469,ГТС Уведомление о поступлении нового вызова
3,143780,3842524316,01.10.2013,21.01.2016,203403,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
4,143780,NaN,01.10.2014,21.01.2016,1469,ГТС Уведомление о поступлении нового вызова
5,143780,NaN,01.10.2014,21.01.2016,1470,ГТС Тональный набор
6,143780,NaN,30.12.2010,22.01.2016,53105,*Получение счета/расшифровок Абонентом в подра...
7,143789,NaN,01.07.2013,27.01.2016,210010,*Клиент пульта охраны
8,143797,NaN,01.10.2014,12.02.2015,1469,ГТС Уведомление о поступлении нового вызова
9,143802,NaN,01.10.2014,09.03.2016,1470,ГТС Тональный набор
10,143802,3842355185,01.07.2013,09.03.2016,203403,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
11,143802,NaN,01.10.2014,09.03.2016,1469,ГТС Уведомление о поступлении нового вызова
12,143804,NaN,25.06.2014,26.08.2015,10295,*Полное ограничение выхода на 8(МН+МГ+ВЗ)
13,143804,NaN,20.12.2012,03.09.2015,53104,*Предост.абоненту инфор.об оказан.услугах на с...
14,143804,NaN,01.07.2013,26.08.2015,10187,*Пакет 5 АПУС+ВЗ ABC-DEF
15,143804,NaN,01.07.2013,26.08.2015,40628,Пред.150мин ВЗсоед.на абон.DEF (Пакет5 при СПУ...
16,143804,3842355156,01.07.2013,26.08.2015,203403,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
17,143809,NaN,01.10.2014,30.06.2015,1469,ГТС Уведомление о поступлении нового вызова
18,143809,3842352074,17.01.2011,30.06.2015,203402,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
19,143809,3842352074,17.01.2011,30.06.2015,40520,"ГТС СПУС Предост. мест. тел. соед. ( ""Безлимит..."
20,143812,3842523469,09.09.2013,06.07.2016,203403,ГТС Пред.в пост.польз.абон.линии с инд.схемой ...
21,143815,NaN,01.03.1997,29.02.2016,20155,ПВ Пользование абонентской радиоточкой

In [34]:
User = User.drop(['PHONE', 'DATE_BEGIN', 'DATE_END','NAME'], axis =1)

In [22]:
User.head()

   USER_ID     COD
0   143779   20155
1   143779    1470
2   143779    1469
3   143780  203403
4   143780    1469

In [35]:
serv = (203403, 81301, 203401, 2021, 80551, 203402, 40520, 81302, 81668)
serv

(203403, 81301, 203401, 2021, 80551, 203402, 40520, 81302, 81668)

In [36]:
num = User['COD'].size

for i in range(0,num):
    if User.loc[i,'COD'] in serv:
        User.set_value(i,'OFF', 1)
    else: User.set_value(i,'OFF', 0)

User

    USER_ID     COD  OFF
0    143779   20155  0.0
1    143779    1470  0.0
2    143779    1469  0.0
3    143780  203403  1.0
4    143780    1469  0.0
5    143780    1470  0.0
6    143780   53105  0.0
7    143789  210010  0.0
8    143797    1469  0.0
9    143802    1470  0.0
10   143802  203403  1.0
11   143802    1469  0.0
12   143804   10295  0.0
13   143804   53104  0.0
14   143804   10187  0.0
15   143804   40628  0.0
16   143804  203403  1.0
17   143809    1469  0.0
18   143809  203402  1.0
19   143809   40520  1.0
20   143812  203403  1.0
21   143815   20155  0.0

In [37]:
User = User.groupby('USER_ID').max()

In [39]:
User = User.drop(['COD'], axis =1)

In [45]:
User['OFF'] = User.OFF.astype(int)

In [46]:
User

         OFF
USER_ID
143779     0
143780     1
143789     0
143797     0
143802     1
143804     1
143809     1
143812     1
143815     0